<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>

    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="main-splash">
    <h1 class="info">Here are your recommendations, {{ user }}</h1>
    <ul>
        {% for i in results %}
        <li class="info">{{ i }}</li>
        {% endfor %}
    </ul>

    <a href='/index'>Home</a>
    
    </div>

</body>
</html>